<a href="https://colab.research.google.com/github/InesAgudoMartin/APRENDIZAJE_AUTOMATICO_23_24/blob/main/CLASE1_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**CLASE 1 EDA (15/09/25)**

INICIO

In [1]:
nombre = input("dime tu nombre")
print(f"Te llamas {nombre}")

dime tu nombreines
Te llamas ines

LISTAS

In [3]:
lista=[] #lista vacía
print(len(lista)) #nos devolveria 0, len nos devuelve tamaño lista
#agregar elemento a la lista
lista.append("pepe")
print(lista)
print(len(lista))

#REMOVE: para eliminar la primera ocurrencia de los valores que tenemos
#REVSERSE: da la vuelta a la lista
#SORT: ordena la lista
#POP: eliminar ultimo elemento lista

lista.insert(1,"madrid") #le damos posicion y valor y nos inserta el elemento en esa posicion y los de detras los mueve una posición siguiente
print(lista)


lista=[1,2,3,4,5]
#num va tomando el valor de cada elem de la lista de manera secuencial
#RECORREMOS POR VALOR
for num in lista:
  print(num)

range(5) #genera lista de 0-4 (si en vez de ponerle 5 le pongo el tamaño de la lista es lo mismo que el bucle for anterior)
for i in range(len(lista)):
  print(i)

#RECORREMOS POR ÍNDICE
#acceder a una posición en la lista
for i in range(len(lista)):
  print(lista[i])

#BUCLE WHILE
i=0
while i < len(lista):
  print(lista[i])
  i+=1 #no existe en python i++

0
['pepe']
1
['pepe', 'madrid']
1
2
3
4
5
0
1
2
3
4
1
2
3
4
5
1
2
3
4
5

In [2]:
lista=[1,2,3,4,5]
lista1=[6,7,8,9]

#FUNCIONES
def imprimir(mi_lista):
  i=0
  while i < len(mi_lista):
    print(mi_lista[i])
    i += 1

imprimir(lista)
imprimir(lista1)

1
2
3
4
5
6
7
8
9

FUNCIONES

In [ ]:
#FUNCION QUE SOLO IMPRIMA LOS PARES
lista=[3,4,9]
lista1=[4,4,6]
def devolver(mi_lista):
  i=0
  while i < len(mi_lista):
    if mi_lista[i] % 2 == 0:
      print(mi_lista[i])
      i +=1
devolver(lista)

In [10]:
#LISTA APARTE QUE GUARDE LOS PARES
lista=[1,2,3,4,5]
lista1=[6,7,8,9]
def pares(mi_lista):
  i=0
  resultado=[]
  while i < len(mi_lista):
    if mi_lista[i] % 2 ==0:
      resultado.append(mi_lista[i])
    i +=1
  return resultado

solo_pares=pares(lista)
print(solo_pares)

[2, 4]

In [19]:
#FUNCIÓN QUE DADOS DOS NÚMEROS DEVUELVA LA DIVISIÓN
#división en python devuelve float (2.0 por ejemplo)

def dividir(numerador,denominador):
  if denominador==0:
    return 0 #porque sino nos da un error y asi lo evitamos
  return numerador/denominador
#para que me devuelva un entero puedo aplicar int
#tambien se podria poner el int en la línea anterior:return int(numerador/denominador)
resultado=int(dividir(10,5))
print(resultado)

2

CLASES

In [28]:
class Alumno:

  def __init__(self,edad): #cabecera de la función constructor
  #variables a inicializar a un valor concreto
    self.nombre=""
    self.apellido=""
    self.edad=edad
  #var tipo alumno
cristiano_ronaldo= Alumno(18)
#como acceder a una variable
print(cristiano_ronaldo.edad)

18

In [25]:
class Alumno:
  def __init__(self,nombre,apellido,edad_alumno):
    self.nombre=nombre
    self.apellido=apellido
    self.edad=edad_alumno

  def imprimir_edad(self):
    print(f"El alumno {self.nombre} tiene {self.edad}")

a1= Alumno("Cristiano", "Ronaldo", 18)
print(f"El alumno {a1.nombre} tiene {a1.edad}")
a2= Alumno("Vini", "Jr",2)
a3= Alumno("Pepe", "gonzalez",20)
a4= Alumno("Maria", "Martinez",21)
print(f"El alumno {a2.nombre} tiene {a2.edad}")

a1.imprimir_edad()
a2.imprimir_edad()


#como imprimir la edad del alumno a3

lista_alumnos=[a1,a2,a3,a4]
for alumno in lista_alumnos:
  alumno.imprimir_edad()

El alumno Cristiano tiene 18
El alumno Vini tiene 2
El alumno Cristiano tiene 18
El alumno Vini tiene 2
El alumno Cristiano tiene 18
El alumno Vini tiene 2
El alumno Pepe tiene 20
El alumno Maria tiene 21

EJERCICIO

In [ ]:
#class circulo con at: radio y dentro funcion que imprima área y perímetro
class Circulo(radio):