<a href="https://colab.research.google.com/github/InesAgudoMartin/APRENDIZAJE_AUTOMATICO_23_24/blob/main/LAB01_Preprocesamiento_y_visualizaci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#LAB01 Preprocesamiento y visualización

María Rivas Ramos

Inés Agudo

Miguel Egido

Noah García Villanueva

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

# Usamos esto para que se nos muestren todos los atributos
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# Carga de dataset en crudo, usando el método read_csv method.
# Más info: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

data_file_path = '/content/drive/MyDrive/MINERIA DE DATOS/PRACTICA 1/AviationData_practica1-1.csv'

full_data = pd.read_csv(data_file_path)

<ipython-input-235-d0402cf35bed>:16: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  full_data = pd.read_csv(data_file_path)

## Exploración de los datos

### Exploración del dataset

In [ ]:
# El tipo de datos en el que lo hemos cargado es un DataFrame object.
# Más info: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

print(type(full_data))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
# Podemos visualizar el contenido

full_data

             Event.Id Investigation.Type Accident.Number  Event.Date         Location        Country   Latitude  Longitude Airport.Code Airport.Name Injury.Severity Aircraft.damage Aircraft.Category Registration.Number                        Make      Model Amateur.Built  Number.of.Engines    Engine.Type FAR.Description Schedule Purpose.of.flight         Air.carrier  Total.Fatal.Injuries  Total.Serious.Injuries  Total.Minor.Injuries  Total.Uninjured Weather.Condition Broad.phase.of.flight   Report.Status Publication.Date
0      20001218X45444           Accident      SEA87LA080  1948-10-24  MOOSE CREEK, ID  United States        NaN        NaN          NaN          NaN        Fatal(2)       Destroyed               NaN              NC6404                     Stinson      108-3            No                1.0  Reciprocating             NaN      NaN          Personal                 NaN                   2.0                     0.0                   0.0              0.0               UNK                Cruise  Probable Cause              NaN
1      20001218X45447           Accident      LAX94LA336  1962-07-19   BRIDGEPORT, CA  United States        NaN        NaN          NaN          NaN        Fatal(4)       Destroyed               NaN              N5069P                       Piper   PA24-180            No                1.0  Reciprocating             NaN      NaN          Personal                 NaN                   4.0                     0.0                   0.0              0.0               UNK               Unknown  Probable Cause       19-09-1996
2      20061025X01555           Accident      NYC07LA005  1974-08-30    Saltville, VA  United States  36.922223 -81.878056          NaN          NaN        Fatal(3)       Destroyed               NaN              N5142R                      Cessna       172M            No                1.0  Reciprocating             NaN      NaN          Personal                 NaN                   3.0                     NaN                   NaN              NaN               IMC                Cruise  Probable Cause       26-02-2007
3      20001218X45448           Accident      LAX96LA321  1977-06-19       EUREKA, CA  United States        NaN        NaN          NaN          NaN        Fatal(2)       Destroyed               NaN              N1168J                    Rockwell        112            No                1.0  Reciprocating             NaN      NaN          Personal                 NaN                   2.0                     0.0                   0.0              0.0               IMC                Cruise  Probable Cause       12-09-2000
4      20041105X01764           Accident      CHI79FA064  1979-08-02       Canton, OH  United States        NaN        NaN          NaN          NaN        Fatal(1)       Destroyed               NaN               N15NY                      Cessna        501            No                NaN            NaN             NaN      NaN          Personal                 NaN                   1.0                     2.0                   NaN              0.0               VMC              Approach  Probable Cause       16-04-1980
...               ...                ...             ...         ...              ...            ...        ...        ...          ...          ...             ...             ...               ...                 ...                         ...        ...           ...                ...            ...             ...      ...               ...                 ...                   ...                     ...                   ...              ...               ...                   ...             ...              ...
88884  20221227106491           Accident      ERA23LA093  2022-12-26    Annapolis, MD  United States        NaN        NaN          NaN          NaN           Minor             NaN               NaN              N1867H                       PIPER  PA-28-151            No                NaN            NaN             091      NaN          Personal                 NaN                   0.0                     1.0                   0.0              0.0               NaN                   NaN             NaN       29-12-2022
88885  20221227106494           Accident      ERA23LA095  2022-12-26      Hampton, NH  United States        NaN        NaN          NaN          NaN             NaN             NaN               NaN              N2895Z                    BELLANCA       7ECA            No                NaN            NaN             NaN      NaN               NaN                 NaN                   0.0                     0.0                   0.0              0.0               NaN                   NaN             NaN              NaN
88886  20221227106497           Accident      WPR23LA075  2022-12-26       Payson, AZ  United States    341525N   1112021W          PAN       PAYSON       Non-Fatal     Substantial          Airplane              N749PJ  AMERICAN CHAMPION AIRCRAFT      8GCBC            No                1.0            NaN             091      NaN          Personal                 NaN                   0.0                     0.0                   0.0              1.0               VMC                   NaN             NaN       27-12-2022
88887  20221227106498           Accident      WPR23LA076  2022-12-26       Morgan, UT  United States        NaN        NaN          NaN          NaN             NaN             NaN               NaN              N210CU                      CESSNA       210N            No                NaN            NaN             091      NaN          Personal  MC CESSNA 210N LLC                   0.0                     0.0                   0.0              0.0               NaN                   NaN             NaN              NaN
88888  20221230106513           Accident      ERA23LA097  2022-12-29       Athens, GA  United States        NaN        NaN          NaN          NaN           Minor             NaN               NaN              N9026P                       PIPER  PA-24-260            No                NaN            NaN             091      NaN          Personal                 NaN                   0.0                     1.0                   0.0              1.0               NaN                   NaN             NaN       30-12-2022

[88889 rows x 31 columns]

In [ ]:
# Resumen de información que hay en el DataFrame

full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB


### Variables que nos interesan
Estas son las variables clave que utilizaremos en el análisis, ya que contienen información relevante sobre la que se pregunta

- **Event.Id**
- **Event.Date**
- **Country**
- **Injury.Severity**
- **Total.Fatal.Injuries**
- **Total.Serious.Injuries**
- **Total.Minor.Injuries**
- **Weather.Condition**
- **Broad.phase.of.flight**


### Variables que no nos interesan
Estas variables no son relevantes para el análisis, ya sea porque contienen información redundante, identificadores únicos sin utilidad analítica o detalles que no afectan a nuestras preguntas de investigación.

- **Accident.Number**
- **Investigation.Type**
- **Location**
- **Latitude**
- **Longitude**
- **Airport.Code**
- **Airport.Name**
- **Aircraft.damage**
- **Aircraft.Category**
- **Registration.Number**
- **Make**
- **Model**
- **Amateur.Built**
- **Number.of.Engines**
- **Engine.Type**
- **FAR.Description**
- **Schedule**
- **Purpose.of.flight**
- **Air.carrier**
- **Total.Uninjured**
- **Report.Status**
- **Publication.Date**

## Limpieza de los datos: duplicados

El único atributo que nos interesa que no esté duplicado es "Event.id"

In [ ]:
# Buscamos una de los atributos candidatos a tener duplicados. Por ejemplo 'Event.Id'
# Esto nos genera una serie de booleanos que indica si hay o no duplicado

duplicate_values = full_data['Event.Id'].duplicated()

print(duplicate_values.unique())

[False  True]

In [ ]:
# Podemos mostrar la primera ocurrencia de los duplicados

print(full_data[full_data.duplicated(subset='Event.Id')])

             Event.Id Investigation.Type Accident.Number  Event.Date            Location        Country Latitude Longitude Airport.Code                   Airport.Name Injury.Severity Aircraft.damage Aircraft.Category Registration.Number         Make       Model Amateur.Built  Number.of.Engines    Engine.Type            FAR.Description Schedule          Purpose.of.flight              Air.carrier  Total.Fatal.Injuries  Total.Serious.Injuries  Total.Minor.Injuries  Total.Uninjured Weather.Condition Broad.phase.of.flight   Report.Status Publication.Date
118    20020917X01908           Accident     DCA82AA012A  1982-01-19        ROCKPORT, TX  United States      NaN       NaN          RKP         ARANSAS COUNTY AIRPORT        Fatal(3)       Destroyed          Airplane              N336SA   Swearingen  SA226-T(B)            No                2.0     Turbo Prop  Part 91: General Aviation      NaN        Executive/corporate                      NaN                   3.0                     0.0                   0.0              0.0               IMC              Approach  Probable Cause       19-01-1983
159    20020917X02400           Accident     MIA82FA038A  1982-01-23  NEWPORT RICHEY, FL  United States      NaN       NaN          NaN                            NaN       Non-Fatal     Substantial          Airplane              N32555        Piper  PA-34-200T            No                2.0  Reciprocating  Part 91: General Aviation      NaN                   Personal                      NaN                   0.0                     0.0                   0.0              3.0               VMC              Approach  Probable Cause       23-01-1983
160    20020917X02259           Accident     LAX82FA049B  1982-01-23     VICTORVILLE, CA  United States      NaN       NaN          NaN                            NaN        Fatal(2)     Substantial          Airplane              N32380        Piper   PA-28-235            No                1.0  Reciprocating  Part 91: General Aviation      NaN                   Personal                      NaN                   2.0                     0.0                   4.0              0.0               VMC                Cruise  Probable Cause       23-01-1983
245    20020917X02585           Accident     SEA82DA028B  1982-02-06         MEDFORD, OR  United States      NaN       NaN          MFR         MEDFORD-JACKSON COUNTY       Non-Fatal     Substantial          Airplane              N95078  Taylorcraft      BC12-D            No                1.0  Reciprocating  Part 91: General Aviation      NaN                   Personal                      NaN                   0.0                     0.0                   0.0              3.0               VMC                  Taxi  Probable Cause       06-02-1983
248    20020917X02173           Accident     LAX82DA065A  1982-02-06        SAN JOSE, CA  United States      NaN       NaN          RHV                  RIED HILLVIEW       Non-Fatal     Substantial          Airplane              N3343D       Cessna         180            No                1.0  Reciprocating  Part 91: General Aviation      NaN                   Personal                      NaN                   0.0                     0.0                   0.0              3.0               VMC                  Taxi  Probable Cause       06-02-1983
...               ...                ...             ...         ...                 ...            ...      ...       ...          ...                            ...             ...             ...               ...                 ...          ...         ...           ...                ...            ...                        ...      ...                        ...                      ...                   ...                     ...                   ...              ...               ...                   ...             ...              ...
88593  20220929106019           Accident      DCA22WA214  2022-09-28            London,   Great Britain  512820N  0002717E         EGLL        London Heathrow Airport       Non-Fatal             NaN          Airplane              TF-FIK       BOEING         757            No                NaN            NaN                       NUSC      NaN                        NaN                      NaN                   0.0                     0.0                   0.0              2.0               NaN                   NaN             NaN              NaN
88777  20221112106276           Accident      CEN23MA034  2022-11-12          Dallas, TX  United States  324026N  0965146W          RBD               Dallas Executive           Fatal       Destroyed          Airplane              N7227C       BOEING         B17            No                4.0            NaN                        091      NaN                       ASHO  Commemorative Air Force                   6.0                     0.0                   0.0              0.0               VMC                   NaN             NaN       30-11-2022
88796  20221121106336           Accident      WPR23LA041  2022-11-18       Las Vegas, NV  United States  361239N  1151140W          VGT                NORTH LAS VEGAS       Non-Fatal     Substantial          Airplane                N88E       CESSNA        172M            No                1.0            NaN                        091      NaN              Instructional       702 HELICOPTER INC                   0.0                     0.0                   0.0              3.0               VMC                   NaN             NaN       07-12-2022
88798  20221122106340           Incident      DCA23WA071  2022-11-18         Marrakech,         Morocco      NaN       NaN          NaN                            NaN             NaN             NaN               NaN              CS-DVH       CESSNA         525            No                NaN            NaN                       NUSC      NaN                        NaN      Valair Private Jets                   0.0                     0.0                   0.0              0.0               NaN                   NaN             NaN              NaN
88814  20221123106354           Accident      WPR23LA045  2022-11-22       San Diego, CA  United States  323414N  1165825W          SDM  Brown Field Municipal Airport       Non-Fatal     Substantial        Helicopter              166583     SIKORSKY      MH-60R            No                2.0            NaN                       ARMF      NaN  Public Aircraft - Federal                U.S. Navy                   0.0                     0.0                   0.0              4.0               VMC                   NaN             NaN       22-12-2022

[938 rows x 31 columns]

In [ ]:
# El método drop_duplicates borra los duplicados
# 1. Si keep = 'first' mantiene la primera ocurrencia

new_data_set = full_data.drop_duplicates(
    subset = ['Event.Id'],
    keep = 'first',
    inplace = False) # Esto significa que hace una copia del DataFrame

new_data_set.info()

print(new_data_set.loc[new_data_set['Event.Id']==63])

<class 'pandas.core.frame.DataFrame'>
Index: 87951 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                87951 non-null  object
 1   Investigation.Type      87951 non-null  object
 2   Accident.Number         87951 non-null  object
 3   Event.Date              87951 non-null  object
 4   Location                87899 non-null  object
 5   Country                 87729 non-null  object
 6   Latitude                34212 non-null  object
 7   Longitude               34203 non-null  object
 8   Airport.Code            49484 non-null  object
 9   Airport.Name            52031 non-null  object
 10  Injury.Severity         86961 non-null  object
 11  Aircraft.damage         84848 non-null  object
 12  Aircraft.Category       32181 non-null  object
 13  Registration.Number     86601 non-null  object
 14  Make                    87888 non-null  object
 15  Model                   87859 non-null  object
 16  Amateur.Built           87851 non-null  object
 17  Number.of.Engines       81924 non-null  float64
 18  Engine.Type             80908 non-null  object
 19  FAR.Description         31915 non-null  object
 20  Schedule                12360 non-null  object
 21  Purpose.of.flight       81829 non-null  object
 22  Air.carrier             16533 non-null  object
 23  Total.Fatal.Injuries    76684 non-null  float64
 24  Total.Serious.Injuries  75629 non-null  float64
 25  Total.Minor.Injuries    76191 non-null  float64
 26  Total.Uninjured         82088 non-null  float64
 27  Weather.Condition       83478 non-null  object
 28  Broad.phase.of.flight   60837 non-null  object
 29  Report.Status           81587 non-null  object
 30  Publication.Date        74352 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.5+ MB
Empty DataFrame
Columns: [Event.Id, Investigation.Type, Accident.Number, Event.Date, Location, Country, Latitude, Longitude, Airport.Code, Airport.Name, Injury.Severity, Aircraft.damage, Aircraft.Category, Registration.Number, Make, Model, Amateur.Built, Number.of.Engines, Engine.Type, FAR.Description, Schedule, Purpose.of.flight, Air.carrier, Total.Fatal.Injuries, Total.Serious.Injuries, Total.Minor.Injuries, Total.Uninjured, Weather.Condition, Broad.phase.of.flight, Report.Status, Publication.Date]
Index: []

In [ ]:
# COMPROBAMOS QUE SE HAN ELIMINADO LOS DUPLICADOS CORRECTAMENTE

duplicate_values = new_data_set['Event.Id'].duplicated()

print(duplicate_values.unique())

[False]

## Ánalisis de los NA de cada atributo

In [ ]:
# Contar los valores nulos en cada columna
nans_count = new_data_set.isnull().sum()

# Mostrar en forma de tabla
nans_count.to_frame(name="Cantidad de NaNs")

                        Cantidad de NaNs
Event.Id                               0
Investigation.Type                     0
Accident.Number                        0
Event.Date                             0
Location                              52
Country                              222
Latitude                           53739
Longitude                          53748
Airport.Code                       38467
Airport.Name                       35920
Injury.Severity                      990
Aircraft.damage                     3103
Aircraft.Category                  55770
Registration.Number                 1350
Make                                  63
Model                                 92
Amateur.Built                        100
Number.of.Engines                   6027
Engine.Type                         7043
FAR.Description                    56036
Schedule                           75591
Purpose.of.flight                   6122
Air.carrier                        71418
Total.Fatal.Injuries               11267
Total.Serious.Injuries             12322
Total.Minor.Injuries               11760
Total.Uninjured                     5863
Weather.Condition                   4473
Broad.phase.of.flight              27114
Report.Status                       6364
Publication.Date                   13599

Observamos que nuestra base de datos tiene una gran cantidad de NANs por lo que vamos a proceder a ignorar los atributos que no son necesarios y más a delante a completar los datos que las variables que sí nos interesan pero que debido a los datos faltantes puede dar error.

En el caso de los atributos que son necesarios para el análisis crearemos una categoría llamada "desconocido" y sustituiremos los valores desconocidos.

Procedemos a analizar y limpiar las siguientes variables:

- Event.Date
- Country
- Injury.Severity
- Total.Fatal.Injuries
- Total.Serious.Injuries
- Total.Minor.Injuries
- Weather.Condition
- Broad.phase.of.flight

### Event.Date

In [ ]:
print(new_data_set["Event.Date"].head())  # Ver las primeras fechas
print(new_data_set["Event.Date"].dtype)   # Ver el tipo de dato actual

0    1948-10-24
1    1962-07-19
2    1974-08-30
3    1977-06-19
4    1979-08-02
Name: Event.Date, dtype: object
object

In [ ]:
new_data_set.loc[:, "Event.Date"] = pd.to_datetime(new_data_set["Event.Date"], format="%Y-%m-%d", errors="coerce")

In [ ]:
# Comprobamos que no hay valores nulos
print(new_data_set["Event.Date"].isnull().sum())

0

In [ ]:
#  comprobamos que se ha guardado bien
print(new_data_set["Event.Date"].head())  # Ver las primeras fechas
print(new_data_set["Event.Date"].dtype)   # Ver el tipo de dato actual

0    1948-10-24 00:00:00
1    1962-07-19 00:00:00
2    1974-08-30 00:00:00
3    1977-06-19 00:00:00
4    1979-08-02 00:00:00
Name: Event.Date, dtype: object
object

### Injury.serevity

In [ ]:
injury_severity_counts = new_data_set["Injury.Severity"].value_counts(dropna=False)
display(injury_severity_counts.to_frame(name="Cantidad"))

                 Cantidad
Injury.Severity
Non-Fatal           66822
Fatal(1)             6086
Fatal                5257
Fatal(2)             3632
Incident             2113
Fatal(3)             1104
NaN                   990
Fatal(4)              774
Fatal(5)              226
Minor                 217
Serious               173
Fatal(6)              152
Unavailable            96
Fatal(7)               50
Fatal(8)               49
Fatal(10)              30
Fatal(9)               18
Fatal(14)              10
Fatal(13)               9
Fatal(11)               8
Fatal(12)               8
Fatal(18)               5
Fatal(20)               5
Fatal(23)               4
Fatal(15)               4
Fatal(25)               3
Fatal(19)               3
Fatal(16)               3
Fatal(52)               2
Fatal(65)               2
Fatal(102)              2
Fatal(160)              2
Fatal(97)               2
Fatal(46)               2
Fatal(75)               2
Fatal(34)               2
Fatal(104)              2
Fatal(92)               2
Fatal(24)               2
Fatal(113)              2
Fatal(87)               2
Fatal(27)               2
Fatal(131)              2
Fatal(29)               2
Fatal(70)               2
Fatal(17)               2
Fatal(83)               1
Fatal(44)               1
Fatal(64)               1
Fatal(71)               1
Fatal(78)               1
Fatal(57)               1
Fatal(118)              1
Fatal(265)              1
Fatal(26)               1
Fatal(138)              1
Fatal(89)               1
Fatal(206)              1
Fatal(21)               1
Fatal(107)              1
Fatal(199)              1
Fatal(114)              1
Fatal(96)               1
Fatal(154)              1
Fatal(49)               1
Fatal(124)              1
Fatal(115)              1
Fatal(141)              1
Fatal(55)               1
Fatal(121)              1
Fatal(45)               1
Fatal(145)              1
Fatal(117)              1
Fatal(143)              1
Fatal(153)              1
Fatal(60)               1
Fatal(270)              1
Fatal(47)               1
Fatal(30)               1
Fatal(73)               1
Fatal(111)              1
Fatal(174)              1
Fatal(144)              1
Fatal(43)               1
Fatal(37)               1
Fatal(28)               1
Fatal(156)              1
Fatal(82)               1
Fatal(256)              1
Fatal(31)               1
Fatal(135)              1
Fatal(56)               1
Fatal(132)              1
Fatal(88)               1
Fatal(125)              1
Fatal(169)              1
Fatal(217)              1
Fatal(80)               1
Fatal(229)              1
Fatal(228)              1
Fatal(35)               1
Fatal(349)              1
Fatal(68)               1
Fatal(230)              1
Fatal(110)              1
Fatal(33)               1
Fatal(123)              1
Fatal(72)               1
Fatal(54)               1
Fatal(189)              1

In [ ]:
# Reemplazar los valores NaN en la columna "Injury.Severity" por "Unavailable"
new_data_set.loc[:, "Injury.Severity"] = new_data_set["Injury.Severity"].fillna("Unavailable")


# Verificar el cambio
injury_severity_counts = new_data_set["Injury.Severity"].value_counts()

# Mostrar los resultados actualizados
display(injury_severity_counts.to_frame(name="Cantidad"))

                 Cantidad
Injury.Severity
Non-Fatal           66822
Fatal(1)             6086
Fatal                5257
Fatal(2)             3632
Incident             2113
Fatal(3)             1104
Unavailable          1086
Fatal(4)              774
Fatal(5)              226
Minor                 217
Serious               173
Fatal(6)              152
Fatal(7)               50
Fatal(8)               49
Fatal(10)              30
Fatal(9)               18
Fatal(14)              10
Fatal(13)               9
Fatal(11)               8
Fatal(12)               8
Fatal(18)               5
Fatal(20)               5
Fatal(23)               4
Fatal(15)               4
Fatal(19)               3
Fatal(16)               3
Fatal(25)               3
Fatal(97)               2
Fatal(65)               2
Fatal(52)               2
Fatal(87)               2
Fatal(113)              2
Fatal(75)               2
Fatal(104)              2
Fatal(27)               2
Fatal(24)               2
Fatal(92)               2
Fatal(46)               2
Fatal(102)              2
Fatal(34)               2
Fatal(160)              2
Fatal(131)              2
Fatal(17)               2
Fatal(29)               2
Fatal(70)               2
Fatal(138)              1
Fatal(115)              1
Fatal(21)               1
Fatal(71)               1
Fatal(206)              1
Fatal(73)               1
Fatal(141)              1
Fatal(265)              1
Fatal(118)              1
Fatal(135)              1
Fatal(64)               1
Fatal(44)               1
Fatal(31)               1
Fatal(26)               1
Fatal(55)               1
Fatal(121)              1
Fatal(45)               1
Fatal(145)              1
Fatal(117)              1
Fatal(107)              1
Fatal(124)              1
Fatal(49)               1
Fatal(154)              1
Fatal(96)               1
Fatal(114)              1
Fatal(199)              1
Fatal(89)               1
Fatal(57)               1
Fatal(78)               1
Fatal(83)               1
Fatal(143)              1
Fatal(256)              1
Fatal(33)               1
Fatal(30)               1
Fatal(111)              1
Fatal(47)               1
Fatal(56)               1
Fatal(37)               1
Fatal(132)              1
Fatal(68)               1
Fatal(54)               1
Fatal(174)              1
Fatal(144)              1
Fatal(72)               1
Fatal(270)              1
Fatal(189)              1
Fatal(123)              1
Fatal(110)              1
Fatal(60)               1
Fatal(230)              1
Fatal(43)               1
Fatal(349)              1
Fatal(125)              1
Fatal(35)               1
Fatal(228)              1
Fatal(28)               1
Fatal(156)              1
Fatal(229)              1
Fatal(80)               1
Fatal(217)              1
Fatal(169)              1
Fatal(88)               1
Fatal(82)               1
Fatal(153)              1

Para este atributo hemos observado que había NA pero también una variable llamada Unavailable, por lo que las hemos fusionado. Podemos observar como hemos eliminado la categoria de NA y la hemos juntado con Unavailable.

### Country

In [ ]:
# Contar la cantidad de ocurrencias de cada categoría en las columnas seleccionadas
country_counts = new_data_set["Country"].value_counts(dropna=False)

display(country_counts.to_frame(name="Cantidad"))

                                  Cantidad
Country
United States                        81355
Brazil                                 373
Mexico                                 356
Canada                                 355
United Kingdom                         341
Australia                              300
France                                 235
Spain                                  224
NaN                                    222
Bahamas                                215
Germany                                210
Colombia                               193
South Africa                           129
Japan                                  125
Venezuela                              121
Italy                                  113
Argentina                              111
Indonesia                              110
India                                   94
Peru                                    93
Russia                                  90
ATLANTIC OCEAN                          78
Ireland                                 77
Puerto Rico                             69
Dominican Republic                      68
Guatemala                               67
China                                   67
Eswatini                                65
New Zealand                             57
Austria                                 56
Sweden                                  56
Netherlands                             55
Chile                                   55
Philippines                             46
Panama                                  46
PACIFIC OCEAN                           46
American Samoa                          41
Pakistan                                40
Poland                                  39
Belgium                                 38
Portugal                                37
Turkey                                  37
Bolivia                                 34
Denmark                                 34
Saudi Arabia                            34
Taiwan                                  34
Nigeria                                 33
Iceland                                 32
Thailand                                32
Kenya                                   32
Ecuador                                 31
South Korea                             31
Norway                                  30
Honduras                                30
Costa Rica                              30
GULF OF MEXICO                          29
Switzerland                             28
Malaysia                                26
Guyana                                  23
MISSING                                 23
Hungary                                 22
Finland                                 22
Greece                                  21
Haiti                                   19
Senegal                                 19
Romania                                 18
Turks And Caicos                        18
Central Africa                          17
Uruguay                                 17
Czech Republic                          16
Papua New Guinea                        16
Korea, Republic Of                      16
Ukraine                                 16
Saint Barthelemy                        14
Tanzania                                14
Afghanistan                             14
UN                                      13
Georgia                                 13
Namibia                                 13
Latvia                                  12
CARIBBEAN SEA                           12
Croatia                                 12
Egypt                                   12
Israel                                  12
HIGH ISLAND                             12
Jamaica                                 12
Turks And Caicos Islands                12
Angola                                  11
Hong Kong                               11
West Indies                             11
Guadeloupe                              11
El Salvador                             10
Nepal                                   10
Suriname                                10
Netherlands Antilles                    10
Cuba                                    10
Greenland                                9
Bahrain                                  9
Iran                                     9
Ethiopia                                 9
Belize                                   9
Bangladesh                               8
Kazakhstan                               8
British Virgin Islands                   8
Congo                                    7
Uganda                                   7
Paraguay                                 7
Antarctica                               7
Northern Mariana Islands                 7
Macao                                    7
Fiji                                     7
Cayman Islands                           7
Zimbabwe                                 6
Saint Pierre and Miquelon                6
Barbados                                 6
Estonia                                  6
Malta                                    5
Virgin Islands                           5
Bulgaria                                 5
South Sudan                              5
Vietnam                                  5
Sint Maarten                             5
Dominica                                 5
Mozambique                               5
Jordan                                   5
Morocco                                  5
Cameroon                                 4
Lithuania                                4
Tunisia                                  4
Kyrgyzstan                               4
Maldives                                 4
Côte d'Ivoire                            4
Iraq                                     4
Slovenia                                 4
Singapore                                4
Central African Republic                 4
Niue                                     4
Mali                                     4
Ghana                                    4
Qatar                                    3
Rwanda                                   3
Malawi                                   3
Unknown                                  3
Martinique                               3
Tokelau                                  3
Somalia                                  3
Antigua and Barbuda                      3
Mauritius                                3
Nicaragua                                3
Sudan                                    3
Federated States Of Micronesia           3
French Polynesia                         3
Solomon Islands                          3
Gabon                                    3
Serbia                                   3
Slovakia                                 3
Micronesia                               2
Antigua And Barbuda                      2
Zambia                                   2
Trinidad And Tobago                      2
Marshall Islands                         2
Algeria                                  2
South Korean                             2
Gambia                                   2
Luxembourg                               2
Lebanon                                  2
Bosnia and Herzegovina                   2
Guinea                                   2
New Caledonia                            2
Aruba                                    2
Cayenne                                  2
Cyprus                                   2
Cote D'ivoire                            2
Madagascar                               2
Guam                                     2
Botswana                                 2
Isle of Man                              2
Bermuda                                  2
United Arab Emirates                     2
Reunion                                  2
St Kitts And Nevis                       2
Republic of North Macedonia              2
Wallis and Futuna                        1
Mauritania                               1
Great Britain                            1
Obyan                                    1
Guernsey                                 1
Albania                                  1
Yemen                                    1
MU                                       1
Nauru                                    1
Chad                                     1
Wolseley                                 1
Pacific Ocean                            1
Gibraltar                                1
AY                                       1
Niger                                    1
BLOCK 651A                               1
French Guiana                            1
St Lucia                                 1
Montserrat                               1
St Vincent And The Grenadines            1
Anguilla                                 1
Belarus                                  1
Cambodia                                 1
San Juan Islands                         1
Liberia                                  1
Ivory Coast                              1
Malampa                                  1
Eritrea                                  1
Benin                                    1
Bosnia And Herzegovina                   1
Sierra Leone                             1
Corsica                                  1
Scotland                                 1
Seychelles                               1
Palau                                    1
Libya                                    1
Saint Vincent and the Grenadines         1
Turks and Caicos Islands                 1

Vamos a normalizar los nombres poniendolos en minusculas y sin espacios para en el caso de que haya repeticiones no se diferencien por errores de trancripción.

In [ ]:
# Normalizar "Country": convertir a minúsculas y eliminar espacios extra
new_data_set.loc[:, "Country"] = new_data_set["Country"].str.strip().str.lower()

In [ ]:
# Contar la cantidad de ocurrencias de cada país y ordenarlos alfabéticamente
country_counts_sorted = new_data_set["Country"].value_counts(dropna=False).sort_index()

# Mostrar los resultados en orden alfabético
display(country_counts_sorted.to_frame(name="Cantidad"))

                                  Cantidad
Country
afghanistan                             14
albania                                  1
algeria                                  2
american samoa                          41
angola                                  11
anguilla                                 1
antarctica                               7
antigua and barbuda                      5
argentina                              111
aruba                                    2
atlantic ocean                          78
australia                              300
austria                                 56
ay                                       1
bahamas                                215
bahrain                                  9
bangladesh                               8
barbados                                 6
belarus                                  1
belgium                                 38
belize                                   9
benin                                    1
bermuda                                  2
block 651a                               1
bolivia                                 34
bosnia and herzegovina                   3
botswana                                 2
brazil                                 373
british virgin islands                   8
bulgaria                                 5
cambodia                                 1
cameroon                                 4
canada                                 355
caribbean sea                           12
cayenne                                  2
cayman islands                           7
central africa                          17
central african republic                 4
chad                                     1
chile                                   55
china                                   67
colombia                               193
congo                                    7
corsica                                  1
costa rica                              30
cote d'ivoire                            2
croatia                                 12
cuba                                    10
cyprus                                   2
czech republic                          16
côte d'ivoire                            4
denmark                                 34
dominica                                 5
dominican republic                      68
ecuador                                 31
egypt                                   12
el salvador                             10
eritrea                                  1
estonia                                  6
eswatini                                65
ethiopia                                 9
federated states of micronesia           3
fiji                                     7
finland                                 22
france                                 235
french guiana                            1
french polynesia                         3
gabon                                    3
gambia                                   2
georgia                                 13
germany                                210
ghana                                    4
gibraltar                                1
great britain                            1
greece                                  21
greenland                                9
guadeloupe                              11
guam                                     2
guatemala                               67
guernsey                                 1
guinea                                   2
gulf of mexico                          29
guyana                                  23
haiti                                   19
high island                             12
honduras                                30
hong kong                               11
hungary                                 22
iceland                                 32
india                                   94
indonesia                              110
iran                                     9
iraq                                     4
ireland                                 77
isle of man                              2
israel                                  12
italy                                  113
ivory coast                              1
jamaica                                 12
japan                                  125
jordan                                   5
kazakhstan                               8
kenya                                   32
korea, republic of                      16
kyrgyzstan                               4
latvia                                  12
lebanon                                  2
liberia                                  1
libya                                    1
lithuania                                4
luxembourg                               2
macao                                    7
madagascar                               2
malampa                                  1
malawi                                   3
malaysia                                26
maldives                                 4
mali                                     4
malta                                    5
marshall islands                         2
martinique                               3
mauritania                               1
mauritius                                3
mexico                                 356
micronesia                               2
missing                                 23
montserrat                               1
morocco                                  5
mozambique                               5
mu                                       1
namibia                                 13
nauru                                    1
nepal                                   10
netherlands                             55
netherlands antilles                    10
new caledonia                            2
new zealand                             57
nicaragua                                3
niger                                    1
nigeria                                 33
niue                                     4
northern mariana islands                 7
norway                                  30
obyan                                    1
pacific ocean                           47
pakistan                                40
palau                                    1
panama                                  46
papua new guinea                        16
paraguay                                 7
peru                                    93
philippines                             46
poland                                  39
portugal                                37
puerto rico                             69
qatar                                    3
republic of north macedonia              2
reunion                                  2
romania                                 18
russia                                  90
rwanda                                   3
saint barthelemy                        14
saint pierre and miquelon                6
saint vincent and the grenadines         1
san juan islands                         1
saudi arabia                            34
scotland                                 1
senegal                                 19
serbia                                   3
seychelles                               1
sierra leone                             1
singapore                                4
sint maarten                             5
slovakia                                 3
slovenia                                 4
solomon islands                          3
somalia                                  3
south africa                           129
south korea                             31
south korean                             2
south sudan                              5
spain                                  224
st kitts and nevis                       2
st lucia                                 1
st vincent and the grenadines            1
sudan                                    3
suriname                                10
sweden                                  56
switzerland                             28
taiwan                                  34
tanzania                                14
thailand                                32
tokelau                                  3
trinidad and tobago                      2
tunisia                                  4
turkey                                  37
turks and caicos                        18
turks and caicos islands                13
uganda                                   7
ukraine                                 16
un                                      13
united arab emirates                     2
united kingdom                         341
united states                        81355
unknown                                  3
uruguay                                 17
venezuela                              121
vietnam                                  5
virgin islands                           5
wallis and futuna                        1
west indies                             11
wolseley                                 1
yemen                                    1
zambia                                   2
zimbabwe                                 6
NaN                                    222

Vamos a unir los NA con los Unknown pues significan lo mismo.
No se juntan a missing porque aun que no se sepa a que país corresponde consideramos que es un dato importante pues representa aviones que se han perdido.

In [ ]:
# Reemplazar los valores NaN en la columna "Country" por "Unknown"
new_data_set.loc[:, "Country"] = new_data_set["Country"].fillna("unknown")

# Verificar el cambio y ordenarlos alfabéticamente
country_counts_sorted = new_data_set["Country"].value_counts(dropna=False).sort_index()

# Mostrar los resultados en orden alfabético
display(country_counts_sorted.to_frame(name="Cantidad"))

                                  Cantidad
Country
afghanistan                             14
albania                                  1
algeria                                  2
american samoa                          41
angola                                  11
anguilla                                 1
antarctica                               7
antigua and barbuda                      5
argentina                              111
aruba                                    2
atlantic ocean                          78
australia                              300
austria                                 56
ay                                       1
bahamas                                215
bahrain                                  9
bangladesh                               8
barbados                                 6
belarus                                  1
belgium                                 38
belize                                   9
benin                                    1
bermuda                                  2
block 651a                               1
bolivia                                 34
bosnia and herzegovina                   3
botswana                                 2
brazil                                 373
british virgin islands                   8
bulgaria                                 5
cambodia                                 1
cameroon                                 4
canada                                 355
caribbean sea                           12
cayenne                                  2
cayman islands                           7
central africa                          17
central african republic                 4
chad                                     1
chile                                   55
china                                   67
colombia                               193
congo                                    7
corsica                                  1
costa rica                              30
cote d'ivoire                            2
croatia                                 12
cuba                                    10
cyprus                                   2
czech republic                          16
côte d'ivoire                            4
denmark                                 34
dominica                                 5
dominican republic                      68
ecuador                                 31
egypt                                   12
el salvador                             10
eritrea                                  1
estonia                                  6
eswatini                                65
ethiopia                                 9
federated states of micronesia           3
fiji                                     7
finland                                 22
france                                 235
french guiana                            1
french polynesia                         3
gabon                                    3
gambia                                   2
georgia                                 13
germany                                210
ghana                                    4
gibraltar                                1
great britain                            1
greece                                  21
greenland                                9
guadeloupe                              11
guam                                     2
guatemala                               67
guernsey                                 1
guinea                                   2
gulf of mexico                          29
guyana                                  23
haiti                                   19
high island                             12
honduras                                30
hong kong                               11
hungary                                 22
iceland                                 32
india                                   94
indonesia                              110
iran                                     9
iraq                                     4
ireland                                 77
isle of man                              2
israel                                  12
italy                                  113
ivory coast                              1
jamaica                                 12
japan                                  125
jordan                                   5
kazakhstan                               8
kenya                                   32
korea, republic of                      16
kyrgyzstan                               4
latvia                                  12
lebanon                                  2
liberia                                  1
libya                                    1
lithuania                                4
luxembourg                               2
macao                                    7
madagascar                               2
malampa                                  1
malawi                                   3
malaysia                                26
maldives                                 4
mali                                     4
malta                                    5
marshall islands                         2
martinique                               3
mauritania                               1
mauritius                                3
mexico                                 356
micronesia                               2
missing                                 23
montserrat                               1
morocco                                  5
mozambique                               5
mu                                       1
namibia                                 13
nauru                                    1
nepal                                   10
netherlands                             55
netherlands antilles                    10
new caledonia                            2
new zealand                             57
nicaragua                                3
niger                                    1
nigeria                                 33
niue                                     4
northern mariana islands                 7
norway                                  30
obyan                                    1
pacific ocean                           47
pakistan                                40
palau                                    1
panama                                  46
papua new guinea                        16
paraguay                                 7
peru                                    93
philippines                             46
poland                                  39
portugal                                37
puerto rico                             69
qatar                                    3
republic of north macedonia              2
reunion                                  2
romania                                 18
russia                                  90
rwanda                                   3
saint barthelemy                        14
saint pierre and miquelon                6
saint vincent and the grenadines         1
san juan islands                         1
saudi arabia                            34
scotland                                 1
senegal                                 19
serbia                                   3
seychelles                               1
sierra leone                             1
singapore                                4
sint maarten                             5
slovakia                                 3
slovenia                                 4
solomon islands                          3
somalia                                  3
south africa                           129
south korea                             31
south korean                             2
south sudan                              5
spain                                  224
st kitts and nevis                       2
st lucia                                 1
st vincent and the grenadines            1
sudan                                    3
suriname                                10
sweden                                  56
switzerland                             28
taiwan                                  34
tanzania                                14
thailand                                32
tokelau                                  3
trinidad and tobago                      2
tunisia                                  4
turkey                                  37
turks and caicos                        18
turks and caicos islands                13
uganda                                   7
ukraine                                 16
un                                      13
united arab emirates                     2
united kingdom                         341
united states                        81355
unknown                                225
uruguay                                 17
venezuela                              121
vietnam                                  5
virgin islands                           5
wallis and futuna                        1
west indies                             11
wolseley                                 1
yemen                                    1
zambia                                   2
zimbabwe                                 6

Podemos observar como ahora hay 225 Unknown incluyendo los anteriores NA.

Tras observar los paises, hemos observado algunos fallos que debemos corregir, los fallos son los siguientes:

- Hay un pais que se llama Un --> asumimos que es unknown

- "Turks And Caicos" y "Turks and Caicos Islands las juntamos pues todo el territorio son islas.

- "Korea, Republic Of", "South Korean" y "South Korea" los unimos en un solo país

- "Cote D'ivoire" y "Côte d'Ivoire los juntamos pues son el mismo con un acento de diferencia (^)

- Niger y Nigeria son el mismo país, los unimos

- block 651a es una dirección de Singapore, por lo que lo incluimos en ese país

In [ ]:
# Reemplazar "Un" con "unkown"
new_data_set.loc[:, "Country"] = new_data_set["Country"].replace({"un": "unknown"})

In [ ]:
# Reemplazar "Turks And Caicos" con "Turks and Caicos Islands"
new_data_set.loc[:, "Country"] = new_data_set["Country"].replace({"turks and caicos": "turks and caicos islands"})

In [ ]:
# Reemplazar "Cote D'ivoire" con "Côte d'Ivoire"
new_data_set.loc[:, "Country"] = new_data_set["Country"].replace({"cote d'ivoire": "côte d'ivoire"})

In [ ]:
# Reemplazar "Korea, Republic Of" con "South Korea"
new_data_set.loc[:, "Country"] = new_data_set["Country"].replace({"korea, republic of": "south korea"})

In [ ]:
# Reemplazar "South Korean" con "South Korea"
new_data_set.loc[:, "Country"] = new_data_set["Country"].replace({"south korean": "south korea"})

In [ ]:
# Reemplazar "Niger" con "Nigeria"
new_data_set.loc[:, "Country"] = new_data_set["Country"].replace({"niger": "nigeria"})

In [ ]:
# Reemplazar "block 651a" con "Singapore"
new_data_set.loc[:, "Country"] = new_data_set["Country"].replace({"block 651a": "singapore"})

In [ ]:
# Contar la cantidad de ocurrencias de cada país y ordenarlos alfabéticamente
country_counts_sorted = new_data_set["Country"].value_counts(dropna=False).sort_index()

# Mostrar los resultados en orden alfabético
display(country_counts_sorted.to_frame(name="Cantidad"))

                                  Cantidad
Country
afghanistan                             14
albania                                  1
algeria                                  2
american samoa                          41
angola                                  11
anguilla                                 1
antarctica                               7
antigua and barbuda                      5
argentina                              111
aruba                                    2
atlantic ocean                          78
australia                              300
austria                                 56
ay                                       1
bahamas                                215
bahrain                                  9
bangladesh                               8
barbados                                 6
belarus                                  1
belgium                                 38
belize                                   9
benin                                    1
bermuda                                  2
bolivia                                 34
bosnia and herzegovina                   3
botswana                                 2
brazil                                 373
british virgin islands                   8
bulgaria                                 5
cambodia                                 1
cameroon                                 4
canada                                 355
caribbean sea                           12
cayenne                                  2
cayman islands                           7
central africa                          17
central african republic                 4
chad                                     1
chile                                   55
china                                   67
colombia                               193
congo                                    7
corsica                                  1
costa rica                              30
croatia                                 12
cuba                                    10
cyprus                                   2
czech republic                          16
côte d'ivoire                            6
denmark                                 34
dominica                                 5
dominican republic                      68
ecuador                                 31
egypt                                   12
el salvador                             10
eritrea                                  1
estonia                                  6
eswatini                                65
ethiopia                                 9
federated states of micronesia           3
fiji                                     7
finland                                 22
france                                 235
french guiana                            1
french polynesia                         3
gabon                                    3
gambia                                   2
georgia                                 13
germany                                210
ghana                                    4
gibraltar                                1
great britain                            1
greece                                  21
greenland                                9
guadeloupe                              11
guam                                     2
guatemala                               67
guernsey                                 1
guinea                                   2
gulf of mexico                          29
guyana                                  23
haiti                                   19
high island                             12
honduras                                30
hong kong                               11
hungary                                 22
iceland                                 32
india                                   94
indonesia                              110
iran                                     9
iraq                                     4
ireland                                 77
isle of man                              2
israel                                  12
italy                                  113
ivory coast                              1
jamaica                                 12
japan                                  125
jordan                                   5
kazakhstan                               8
kenya                                   32
kyrgyzstan                               4
latvia                                  12
lebanon                                  2
liberia                                  1
libya                                    1
lithuania                                4
luxembourg                               2
macao                                    7
madagascar                               2
malampa                                  1
malawi                                   3
malaysia                                26
maldives                                 4
mali                                     4
malta                                    5
marshall islands                         2
martinique                               3
mauritania                               1
mauritius                                3
mexico                                 356
micronesia                               2
missing                                 23
montserrat                               1
morocco                                  5
mozambique                               5
mu                                       1
namibia                                 13
nauru                                    1
nepal                                   10
netherlands                             55
netherlands antilles                    10
new caledonia                            2
new zealand                             57
nicaragua                                3
nigeria                                 34
niue                                     4
northern mariana islands                 7
norway                                  30
obyan                                    1
pacific ocean                           47
pakistan                                40
palau                                    1
panama                                  46
papua new guinea                        16
paraguay                                 7
peru                                    93
philippines                             46
poland                                  39
portugal                                37
puerto rico                             69
qatar                                    3
republic of north macedonia              2
reunion                                  2
romania                                 18
russia                                  90
rwanda                                   3
saint barthelemy                        14
saint pierre and miquelon                6
saint vincent and the grenadines         1
san juan islands                         1
saudi arabia                            34
scotland                                 1
senegal                                 19
serbia                                   3
seychelles                               1
sierra leone                             1
singapore                                5
sint maarten                             5
slovakia                                 3
slovenia                                 4
solomon islands                          3
somalia                                  3
south africa                           129
south korea                             49
south sudan                              5
spain                                  224
st kitts and nevis                       2
st lucia                                 1
st vincent and the grenadines            1
sudan                                    3
suriname                                10
sweden                                  56
switzerland                             28
taiwan                                  34
tanzania                                14
thailand                                32
tokelau                                  3
trinidad and tobago                      2
tunisia                                  4
turkey                                  37
turks and caicos islands                31
uganda                                   7
ukraine                                 16
united arab emirates                     2
united kingdom                         341
united states                        81355
unknown                                238
uruguay                                 17
venezuela                              121
vietnam                                  5
virgin islands                           5
wallis and futuna                        1
west indies                             11
wolseley                                 1
yemen                                    1
zambia                                   2
zimbabwe                                 6

### Weather.Condition

Vemos que hay UNK y Unk que son la misma pir lo que hay que cambiarlo y unirlos con NA

In [ ]:
weather_condition_counts = new_data_set["Weather.Condition"].value_counts(dropna=False)
display(weather_condition_counts.to_frame(name="Cantidad"))

                   Cantidad
Weather.Condition
VMC                   76417
IMC                    5949
NaN                    4473
UNK                     850
Unk                     262

In [ ]:
# Reemplazar "Unk" con "UNK"
new_data_set.loc[:, "Weather.Condition"] = new_data_set["Weather.Condition"].replace({"Unk": "UNK"})

# Reemplazar valores NaN con "UNK"
new_data_set.loc[:, "Weather.Condition"] = new_data_set["Weather.Condition"].fillna("UNK")

# Verificar el cambio
weather_condition_counts = new_data_set["Weather.Condition"].value_counts(dropna=False)

# Mostrar los resultados actualizados
display(weather_condition_counts.to_frame(name="Cantidad"))

                   Cantidad
Weather.Condition
VMC                   76417
IMC                    5949
UNK                    5585

### Broad.phase.of.flight

unir unk na y otros

In [ ]:
phase_condition_counts = new_data_set["Broad.phase.of.flight"].value_counts(dropna=False)
display(phase_condition_counts.to_frame(name="Cantidad"))

                       Cantidad
Broad.phase.of.flight
NaN                       27114
Landing                   15320
Takeoff                   12404
Cruise                    10141
Maneuvering                8052
Approach                   6389
Climb                      1995
Descent                    1870
Taxi                       1786
Go-around                  1345
Standing                    872
Unknown                     547
Other                       116

In [ ]:
# Reemplazar valores NaN con "Unknown"
new_data_set.loc[:, "Broad.phase.of.flight"] = new_data_set["Broad.phase.of.flight"].fillna("Unknown")


# Verificar el cambio
phase_condition_counts = new_data_set["Broad.phase.of.flight"].value_counts(dropna=False)

# Mostrar los resultados actualizados
display(phase_condition_counts.to_frame(name="Cantidad"))

                       Cantidad
Broad.phase.of.flight
Unknown                   27661
Landing                   15320
Takeoff                   12404
Cruise                    10141
Maneuvering                8052
Approach                   6389
Climb                      1995
Descent                    1870
Taxi                       1786
Go-around                  1345
Standing                    872
Other                       116

In [ ]:
# Reemplazar "Unknown" con "Other"
new_data_set.loc[:, "Broad.phase.of.flight"] = new_data_set["Broad.phase.of.flight"].replace({"Unknown": "Other"})

In [ ]:
# Verificar el cambio
phase_condition_counts = new_data_set["Broad.phase.of.flight"].value_counts(dropna=False)

# Mostrar los resultados actualizados
display(phase_condition_counts.to_frame(name="Cantidad"))

                       Cantidad
Broad.phase.of.flight
Other                     27777
Landing                   15320
Takeoff                   12404
Cruise                    10141
Maneuvering                8052
Approach                   6389
Climb                      1995
Descent                    1870
Taxi                       1786
Go-around                  1345
Standing                    872

### Total.Fatal.Injuries

In [ ]:
# Seleccionar las columnas relevantes
severity_injuries_table = new_data_set[["Injury.Severity", "Total.Fatal.Injuries", "Total.Serious.Injuries", "Total.Minor.Injuries"]]

# Mostrar la tabla
display(severity_injuries_table.head())  # Muestra las primeras filas

  Injury.Severity  Total.Fatal.Injuries  Total.Serious.Injuries  Total.Minor.Injuries
0        Fatal(2)                   2.0                     0.0                   0.0
1        Fatal(4)                   4.0                     0.0                   0.0
2        Fatal(3)                   3.0                     NaN                   NaN
3        Fatal(2)                   2.0                     0.0                   0.0
4        Fatal(1)                   1.0                     2.0                   NaN

In [ ]:
fatal_injuries_nans = new_data_set["Total.Fatal.Injuries"].isnull().sum()
print(f"NAn en 'Total.Fatal.Injuries': {fatal_injuries_nans}")

NAn en 'Total.Fatal.Injuries': 11267

Como tenemos muchos nan vamos a comparar los valores nan con los valores de injury.severity para ver si se pudiesen completar

In [ ]:
# Filtrar filas donde "Total.Fatal.Injuries" es NaN
nan_fatal_injuries = new_data_set[new_data_set["Total.Fatal.Injuries"].isnull()]

# Contar los valores de "Injury.Severity" en esas filas
severity_for_nan_fatal = nan_fatal_injuries["Injury.Severity"].value_counts(dropna=False)

# Mostrar los resultados
display(severity_for_nan_fatal.to_frame(name="Cantidad"))

                 Cantidad
Injury.Severity
Non-Fatal           10567
Incident              615
Unavailable            85

Vemos que ma mayoria de los casos son non-fatal o incidente por lo que vamos a asumir que no hubo victimas morales y sustituiremos los nan por 0.
Sin embargo en el caso de unavailable vamos a dejar los nan pues no disponemos de información.

In [ ]:
# Reemplazar NaN en "Total.Fatal.Injuries" por 0 solo si "Injury.Severity" es "Non-Fatal" o "Incident"
new_data_set.loc[new_data_set["Injury.Severity"].isin(["Non-Fatal", "Incident"]), "Total.Fatal.Injuries"] = 0

# Verificar los cambios
print(new_data_set["Total.Fatal.Injuries"].isnull().sum())  # Contar cuántos NaN quedan

85

### Total.Serious.Injuries

In [ ]:
Serious_injuries_nans = new_data_set["Total.Serious.Injuries"].isnull().sum()
print(f"NAn en 'Total.Serious.Injuries': {Serious_injuries_nans}")

NAn en 'Total.Serious.Injuries': 12322

Como tenemos muchos nan vamos a comparar los valores nan con los valores de injury.severity para ver si se pudiesen completar

In [ ]:
# Filtrar filas donde "Total.Serious.Injuries" es NaN
nan_serious_injuries = new_data_set[new_data_set["Total.Serious.Injuries"].isnull()]

# Contar los valores de "Injury.Severity" en esas filas
severity_for_nan_serious = nan_serious_injuries["Injury.Severity"].value_counts(dropna=False)

# Mostrar los resultados
display(severity_for_nan_serious.to_frame(name="Cantidad"))

                 Cantidad
Injury.Severity
Non-Fatal            9026
Fatal(1)             1205
Fatal(2)              794
Incident              617
Fatal(3)              246
Fatal(4)              156
Unavailable            85
Fatal(5)               59
Fatal(6)               40
Fatal(7)               16
Fatal(10)              13
Fatal(9)                8
Fatal(8)                8
Fatal(12)               4
Fatal(13)               3
Fatal(20)               3
Fatal(14)               3
Fatal(24)               2
Fatal(92)               2
Fatal(19)               2
Fatal(117)              1
Fatal(55)               1
Fatal(104)              1
Fatal(121)              1
Fatal(160)              1
Fatal(145)              1
Fatal(199)              1
Fatal(114)              1
Fatal(113)              1
Fatal(154)              1
Fatal(102)              1
Fatal(21)               1
Fatal(89)               1
Fatal(46)               1
Fatal(18)               1
Fatal(71)               1
Fatal(206)              1
Fatal(26)               1
Fatal(265)              1
Fatal(118)              1
Fatal(65)               1
Fatal(64)               1
Fatal(44)               1
Fatal(131)              1
Fatal(169)              1
Fatal(217)              1
Fatal(35)               1
Fatal(349)              1
Fatal(17)               1
Fatal(57)               1

### Total.Minor.Injuries

In [ ]:
minor_injuries_nans = new_data_set["Total.Minor.Injuries"].isnull().sum()
print(f"NAn en 'Total.Minor.Injuries': {minor_injuries_nans}")

NAn en 'Total.Minor.Injuries': 11760

In [ ]:
# Filtrar filas donde "Total.Serious.Injuries" es NaN
nan_minor_injuries = new_data_set[new_data_set["Total.Minor.Injuries"].isnull()]

# Contar los valores de "Injury.Severity" en esas filas
severity_for_nan_minor = nan_minor_injuries["Injury.Severity"].value_counts(dropna=False)

# Mostrar los resultados
display(severity_for_nan_minor.to_frame(name="Cantidad"))

                 Cantidad
Injury.Severity
Non-Fatal            8179
Fatal(1)             1367
Fatal(2)              863
Incident              594
Fatal(3)              274
Fatal(4)              174
Unavailable            85
Fatal(5)               68
Fatal(6)               42
Fatal(7)               16
Fatal(10)              13
Fatal(8)               10
Fatal(9)                8
Fatal(13)               4
Fatal(12)               3
Fatal(14)               3
Fatal(20)               3
Fatal(46)               2
Fatal(92)               2
Fatal(23)               2
Fatal(102)              2
Fatal(160)              2
Fatal(19)               2
Fatal(24)               2
Fatal(16)               2
Fatal(115)              1
Fatal(141)              1
Fatal(55)               1
Fatal(104)              1
Fatal(15)               1
Fatal(121)              1
Fatal(45)               1
Fatal(96)               1
Fatal(145)              1
Fatal(114)              1
Fatal(154)              1
Fatal(107)              1
Fatal(89)               1
Fatal(113)              1
Fatal(124)              1
Fatal(49)               1
Fatal(199)              1
Fatal(117)              1
Fatal(64)               1
Fatal(75)               1
Fatal(131)              1
Fatal(11)               1
Fatal(17)               1
Fatal(54)               1
Fatal(349)              1
Fatal(35)               1
Fatal(228)              1
Fatal(217)              1
Fatal(18)               1
Fatal(71)               1
Fatal(44)               1
Fatal(65)               1
Fatal(118)              1
Fatal(265)              1
Fatal(26)               1
Fatal(138)              1
Fatal(206)              1
Fatal(57)               1

tanto en seriour como en minor sabemos que hay tanto accidentes fatales como no fatales como unknown pero no se puede saber que valor corresponde a los datos vacios ni se puede poner 0 pues desajustaría los datos por lo que trabajaremos con estos nan.

##3.1. Análisis de Accidentes Aéreos en la Historia Reciente

###1- Cuestiones generales

¿Cómo ha evolucionado el número de accidentes y fatalidades?

¿Cuáles son los 5 países con más accidentes? Y ¿los 5 países con más víctimas mortales?

¿Podemos identificar si la aviación es más segura hoy en día en comparación con décadas pasadas?

Justifica las visualizaciones elegidas para soportar las conclusiones en tu informe.

###2- Causas de los accidentes

¿Las condiciones meteorológicas influyen en la gravedad de los accidentes? ¿Los accidentes fatales son más
frecuentes en condiciones adversas (IMC, vuelo instrumental) o en buen clima (VMC, vuelo visual)?

Genera gráficos que ayuden a interpretar cómo la meteorología afecta los accidentes

¿En qué fase del vuelo ocurren más accidentes morales? Y, por lo tanto, ¿Qué fase tiene más riesgo el
despegue, el aterrizaje o el crucero?

Genera un gráfico que muestre la distribución de accidentes fatales por fase del vuelo.

¿Los accidentes en tierra (Taxi, Standing) son realmente menos peligrosos que en el aire?

¿Las aeronaves no comerciales (Amateur Built) tienen una mayor proporción de accidentes en comparación
con las comerciales?

###3- Comparación de la evolución

¿Cómo ha evolucionado el número de accidentes en EEUU a lo largo de los años? ¿Y el número de víctimas mortales?

Compáralo con Brasil, México y Reino Unido ¿existe la misma tendencia en estos países en cuanto al número
de incidentes? ¿Y a las víctimas fatales?

##3.2. Análisis de la felicidad por reducción de la dimensionalidad

###1- Aplica el método de PCA y responde a las preguntas

¿Cuántas componentes principales debemos utilizar para tener más de un 80% de la variabilidad explicada?
Justifica tu respuesta.

¿Cuánta información perdemos si nos quedamos con 2 componentes? ¿Cuánta información representamos
con 3 componentes? Justifica tus respuestas.

###2- Selecciona 3 componentes principales y haz una representación gráfica

Obtén una representación de las tres primeras componentes. Explica lo que significan y cómo se relacionan
con los atributos originales

Por último, elige 2 países y explica lo que ocurre con ellos según sus componentes principales. Contrasta las
hipótesis con los datos originales